
/*
	Color Palette

	#202030 - Raisin Black
	#28502E - Hunter Green
	#85BDA6 - Eton Blue
	#BEDCFE - Beau Blue
	#C0D7BB - Cambridge Blue
*/


/* animations */

@keyframes slideInBottom {
	from {
		opacity: 0;
		transform: translatey(1em);
	}

	to {
		opacity: 1;
		transform:  translatey(0em);
	}
}

/* end animations */

html {
	font-family: sans-serif;
}

body {
	background-color: #202030;
	height: 38em;
}

#header {
	height: 6.5em;
}

#header h1 {
	text-align: center;
	color: #C0D7BB;
	font-size: 2.2em;
	margin-top: 1.5em;
	opacity: 0;
	animation-name: slideInBottom;
	animation-duration: 1.2s;
	animation-delay: 0.5s;
	animation-fill-mode: forwards;
}

#formCont {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	opacity: 0;
	/*margin-top: 10em;*/
	display: block;
	text-align: center;
	animation-name: slideInBottom;
	animation-duration: 1.5s;
	animation-delay: 1s;
	animation-fill-mode: forwards;
}

#formCont form {
	color: #C0D7BB;
}

#formCont input {
	overflow: hidden;
}
